dist
cabal-dev
*.o
*.hi
*.dyn_o
*.dyn_hi
*.chi
*.chs.h
*.agdai
.virthualenv
*~
dist_*
dist-*
.hsenv_*
TAGS
.diagrams-cache
.cabal-sandbox/
cabal.sandbox.config

.stack-work

*.aux
*.log
*~

*.png
*.pdf
*.tex
*.aux
*.log
*.jpg
*.jpeg